### Insert tickers and quantity in this [Link](https://docs.google.com/spreadsheets/d/16MzJUZv6pTymiPAhTcfPk-GUAHPTU3l2ZQkOqZnDZEw/edit#gid=0)

In [1]:
import pandas as pd
from yahoo_fin.stock_info import get_data
from datetime import date
import numpy as np
import seaborn as sns
from datetime import date
from datetime import timedelta
import os
from io import BytesIO
import requests
from twilio.rest import Client
from dotenv import load_dotenv
import panel as pn
import subprocess
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
#Open Google Sheets and import Tickers and Asset Qauntity
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=16MzJUZv6pTymiPAhTcfPk-GUAHPTU3l2ZQkOqZnDZEw&output=csv')
data = r.content
stocks = pd.read_csv(BytesIO(data), index_col=0)
stocks

         Quantity
Tickers
AAPL            1
SPY             1
GOOG            1
TSM             1
NVDA            1
MSFT            1
T               1
VZ              1
TMUS            1
PYPL            1
VGT             1
AMZN            1
IBM             1
NFLX            1

In [3]:
combined_df = pd.DataFrame()
for i in stocks.index:
  combined_df[i]= get_data(i,start_date = "01/01/2016")['close']
combined_df.tail()

,AAPL,SPY,GOOG,TSM,NVDA,MSFT,T,VZ,TMUS,PYPL,VGT,AMZN,IBM,NFLX
2021-06-25,133.110001,426.609985,2539.899902,116.529999,761.239990,265.019989,28.889999,56.380001,145.339996,289.600006,393.049988,3401.459961,146.839996,527.070007
2021-06-28,134.779999,427.470001,2536.389893,119.610001,799.400024,268.720001,28.780001,56.180000,145.039993,293.649994,397.239990,3443.889893,145.289993,533.030029
2021-06-29,136.330002,427.700012,2520.370117,120.230003,801.070007,271.399994,28.660000,55.840000,144.990005,292.760010,400.079987,3448.139893,145.550003,533.500000
2021-06-30,136.960007,428.059998,2506.320068,120.160004,800.099976,270.899994,28.780001,56.029999,144.830002,291.480011,398.769989,3440.159912,146.589996,528.210022
2021-07-01,137.270004,430.429993,2527.370117,118.419998,808.479980,271.600006,29.110001,56.290001,145.339996,289.000000,398.899994,3432.969971,146.839996,533.539978

In [4]:
#Open Google Sheets and import Apple Earnings Results
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1wb79glLhg17blGb0HoryEL8-yvhaCR9-L5nCQ8a706U&output=csv')
data = r.content
apple_earning = pd.read_csv(BytesIO(data), index_col=0)
apple_earning.head()

           Quarter End Estimated EPS Actual EPS    Result
Date
2015-01-27  2014-12-31         $0.65      $0.77  1.184615
2015-04-27  2015-03-31         $0.55      $0.58  1.054545
2015-07-21  2015-06-30         $0.45      $0.46  1.022222
2015-10-27  2015-09-30         $0.47      $0.49  1.042553
2016-01-26  2015-12-31         $0.81      $0.82  1.012346

In [5]:
#Open Google Sheets and import iphone Launch 
r = requests.get('https://docs.google.com/spreadsheet/ccc?key=1DgdNNZCbt9x---CQCmvRn2cSrf1AEdH1OBpU_aMZkg4&output=csv')
data = r.content
iphone_launch = pd.read_csv(BytesIO(data), index_col=0)
iphone_launch.head()

            iphone
Date
2007-06-29       1
2008-07-11       1
2010-06-24       1
2012-09-21       1
2014-09-19       1

In [6]:
stocks_list = stocks.index.tolist()
combined_df[stocks_list[0]+' Lag'] = combined_df[stocks_list[0]].shift()
combined_df = combined_df.dropna().copy()

In [7]:
combined_df.head()

,AAPL,SPY,GOOG,TSM,NVDA,MSFT,T,VZ,TMUS,PYPL,VGT,AMZN,IBM,NFLX,AAPL Lag
2016-01-05,25.677500,201.360001,742.580017,21.950001,32.889999,55.049999,34.590000,46.500000,40.220001,34.310001,106.099998,633.789978,135.850006,107.660004,26.337500
2016-01-06,25.174999,198.820007,743.619995,21.340000,31.530001,54.049999,34.060001,45.520000,40.049999,33.980000,104.660004,632.650024,135.169998,117.680000,25.677500
2016-01-07,24.112499,194.050003,726.390015,21.100000,30.280001,52.169998,33.509998,45.270000,40.509998,33.130001,101.290001,607.940002,132.860001,114.559998,25.174999
2016-01-08,24.240000,191.919998,714.469971,20.809999,29.629999,52.330002,33.540001,44.830002,39.880001,32.689999,100.419998,607.049988,131.630005,111.389999,24.112499
2016-01-11,24.632500,192.110001,716.030029,20.930000,29.680000,52.299999,33.950001,45.090000,39.680000,33.040001,100.910004,617.739990,133.229996,114.970001,24.240000

In [8]:
# test_df = pd.merge(apple_earning, iphone_launch,how="outer", on=[apple_earning.index, iphone_launch.index])
apple_info = apple_earning.join(iphone_launch, how='outer')
apple_info = apple_info.drop(['Quarter End'], axis=1)
apple_info.head()

           Estimated EPS Actual EPS  Result  iphone
Date
2007-06-29           NaN        NaN     NaN     1.0
2008-07-11           NaN        NaN     NaN     1.0
2010-06-24           NaN        NaN     NaN     1.0
2012-09-21           NaN        NaN     NaN     1.0
2014-09-19           NaN        NaN     NaN     1.0

In [9]:
combined_df = combined_df.join(apple_info, how='outer')

In [10]:
combined_df = combined_df[combined_df['AAPL'].notna()]

In [11]:
combined_df['iphone'].fillna(0, inplace=True)
combined_df['Result'].fillna(1, inplace=True)
combined_df

,AAPL,SPY,GOOG,TSM,NVDA,MSFT,T,VZ,TMUS,PYPL,VGT,AMZN,IBM,NFLX,AAPL Lag,Estimated EPS,Actual EPS,Result,iphone
2016-01-05,25.677500,201.360001,742.580017,21.950001,32.889999,55.049999,34.590000,46.500000,40.220001,34.310001,106.099998,633.789978,135.850006,107.660004,26.337500,NaN,NaN,1.000000,0.0
2016-01-06,25.174999,198.820007,743.619995,21.340000,31.530001,54.049999,34.060001,45.520000,40.049999,33.980000,104.660004,632.650024,135.169998,117.680000,25.677500,NaN,NaN,1.000000,0.0
2016-01-07,24.112499,194.050003,726.390015,21.100000,30.280001,52.169998,33.509998,45.270000,40.509998,33.130001,101.290001,607.940002,132.860001,114.559998,25.174999,NaN,NaN,1.000000,0.0
2016-01-08,24.240000,191.919998,714.469971,20.809999,29.629999,52.330002,33.540001,44.830002,39.880001,32.689999,100.419998,607.049988,131.630005,111.389999,24.112499,NaN,NaN,1.000000,0.0
2016-01-11,24.632500,192.110001,716.030029,20.930000,29.680000,52.299999,33.950001,45.090000,39.680000,33.040001,100.910004,617.739990,133.229996,114.970001,24.240000,NaN,NaN,1.000000,0.0
2016-01-12,24.990000,193.660004,726.070007,20.750000,30.180000,52.779999,33.900002,44.930000,40.060001,33.080002,102.059998,617.890015,132.899994,116.580002,24.632500,NaN,NaN,1.000000,0.0
2016-01-13,24.347500,188.830002,700.559998,20.480000,29.260000,51.639999,33.740002,44.150002,38.849998,32.119999,99.199997,581.809998,131.169998,106.559998,24.990000,NaN,NaN,1.000000,0.0
2016-01-14,24.879999,191.929993,714.719971,21.820000,28.670000,53.110001,34.299999,44.869999,39.389999,32.869999,101.110001,593.000000,132.910004,107.059998,24.347500,NaN,NaN,1.000000,0.0
2016-01-15,24.282499,187.809998,694.450012,21.100000,27.110001,50.990002,33.990002,44.430000,37.790001,32.310001,98.099998,570.179993,130.029999,104.040001,24.879999,NaN,NaN,1.000000,0.0
2016-01-19,24.165001,188.059998,701.789978,21.660000,27.330000,50.560001,34.509998,44.869999,37.650002,32.200001,97.839996,574.479980,128.110001,107.889999,24.282499,NaN,NaN,1.000000,0.0
2016-01-20,24.197500,185.649994,698.450012,21.090000,27.480000,50.790001,33.900002,44.419998,37.360001,31.200001,97.320000,571.770020,121.860001,107.739998,24.165001,NaN,NaN,1.000000,0.0
2016-01-21,24.075001,186.690002,706.590027,21.330000,27.799999,50.480000,34.540001,45.869999,37.099998,31.200001,97.570000,575.020020,122.910004,102.349998,24.197500,NaN,NaN,1.000000,0.0
2016-01-22,25.355000,190.520004,725.250000,21.930000,28.450001,52.290001,35.139999,47.040001,37.849998,31.690001,100.300003,596.380005,122.500000,100.720001,24.075001,NaN,NaN,1.000000,0.0
2016-01-25,24.860001,187.639999,711.669983,21.790001,28.420000,51.790001,35.000000,47.029999,37.889999,31.469999,98.820000,596.530029,122.080002,99.120003,25.355000,NaN,NaN,1.000000,0.0
2016-01-26,24.997499,190.199997,713.039978,21.590000,28.700001,52.169998,35.400002,48.250000,39.430000,31.969999,99.839996,601.250000,122.589996,97.830002,24.860001,$0.81,$0.82,1.012346,0.0
2016-01-27,23.355000,188.130005,699.989990,21.680000,28.360001,51.220001,35.480000,49.029999,38.500000,31.590000,97.440002,583.349976,120.959999,91.150002,24.997499,NaN,NaN,1.000000,0.0
2016-01-28,23.522499,189.110001,730.960022,21.629999,28.049999,52.060001,35.529999,49.009998,38.669998,34.240002,98.519997,635.349976,122.220001,94.410004,23.355000,NaN,NaN,1.000000,0.0
2016-01-29,24.334999,193.720001,742.950012,22.350000,29.290001,55.090000,36.060001,49.970001,40.150002,36.139999,101.930000,587.000000,124.790001,91.839996,23.522499,NaN,NaN,1.000000,0.0
2016-02-01,24.107500,193.649994,752.000000,22.459999,29.299999,54.709999,36.180000,50.759998,40.590000,37.080002,102.180000,574.809998,124.830002,94.089996,24.334999,NaN,NaN,1.000000,0.0
2016-02-02,23.620001,190.160004,764.650024,22.559999,28.059999,53.000000,36.060001,49.910000,39.270000,36.830002,100.110001,552.099976,122.940002,91.489998,24.107500,NaN,NaN,1.000000,0.0
2016-02-03,24.087500,191.300003,726.950012,22.920000,28.200001,52.160000,36.720001,50.619999,38.340000,37.009998,99.879997,531.070007,124.720001,90.739998,23.620001,NaN,NaN,1.000000,0.0
2016-02-04,24.150000,191.600006,708.010010,23.230000,28.209999,52.000000,36.529999,50.430000,38.700001,37.169998,100.120003,536.260010,127.650002,89.709999,24.087500,NaN,NaN,1.000000,0.0
2016-02-05,23.504999,187.949997,683.570007,22.750000,26.430000,50.160000,36.880001,50.970001,35.660000,35.070000,96.370003,502.130005,128.570007,82.790001,24.150000,NaN,NaN,1.000000,0.0
2016-02-08,23.752501,185.419998,682.739990,22.799999,25.219999,49.410000,37.110001,50.740002,33.959999,33.610001,94.629997,488.100006,126.980003,83.320000,23.504999,NaN,NaN,1.000000,0.0
2016-02-09,23.747499,185.429993,678.109985,22.559999,25.490000,49.279999,36.650002,50.150002,33.889999,32.700001,94.190002,482.070007,124.070000,86.129997,23.752501,NaN,NaN,1.000000,0.0
2016-02-10,23.567499,185.270004,684.119995,22.299999,25.430000,49.709999,36.430000,49.980000,34.570000,32.900002,94.620003,490.480011,120.190002,88.449997,23.747499,NaN,NaN,1.000000,0.0
2016-02-11,23.424999,182.860001,683.109985,22.000000,25.299999,49.689999,36.209999,49.389999,34.029999,33.520000,94.290001,503.820007,117.849998,86.349998,23.567499,NaN,NaN,1.000000,0.0
2016-02-12,23.497499,186.630005,682.400024,22.240000,25.730000,50.500000,36.470001,50.110001,35.110001,34.299999,95.669998,507.079987,121.040001,87.400002,23.424999,NaN,NaN,1.000000,0.0
2016-02-16,24.160000,189.779999,691.000000,23.340000,26.990000,51.090000,36.650002,50.240002,36.450001,35.459999,97.660004,521.099976,122.739998,89.050003,23.497499,NaN,NaN,1.000000,0.0
2016-02-17,24.530001,192.880005,708.400024,23.639999,27.660000,52.419998,36.639999,50.320000,36.849998,36.360001,100.059998,534.099976,126.099998,94.760002,24.160000,NaN,NaN,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-05-20,127.309998,415.279999,2356.090088,113.279999,584.500000,246.479996,29.639999,56.790001,136.160004,251.539993,367.399994,3247.679932,143.880005,501.670013,124.690002,NaN,NaN,1.000000,0.0
2021-05-21,125.430000,414.940002,2345.100098,111.849998,599.669983,245.169998,30.010000,56.910000,136.050003,250.690002,365.640015,3203.080078,144.740005,497.890015,127.309998,NaN,NaN,1.000000,0.0
2021-05-24,127.099998,419.170013,2406.669922,113.629997,624.479980,250.779999,29.750000,56.980000,137.729996,257.170013,372.000000,3244.989990,144.720001,502.899994,125.430000,NaN,NaN,1.000000,0.0
2021-05-25,126.900002,418.239990,2409.070068,114.279999,625.909973,251.720001,29.520000,56.480000,136.759995,258.649994,372.119995,3259.050049,143.789993,501.339996,127.099998,NaN,NaN,1.000000,0.0
2021-05-26,126.849998,419.070007,2433.530029,116.000000,628.000000,251.490005,29.549999,56.360001,139.649994,261.369995,372.850006,3265.159912,143.380005,502.359985,126.900002,NaN,NaN,1.000000,0.0
2021-05-27,125.279999,419.290009,2402.510010,115.769997,619.520020,249.309998,29.709999,56.290001,141.309998,259.470001,371.279999,3230.110107,143.820007,503.859985,126.849998,NaN,NaN,1.000000,0.0
2021-05-28,124.610001,420.040009,2411.560059,117.360001,649.780029,249.679993,29.430000,56.490002,141.449997,260.019989,372.279999,3223.070068,143.740005,502.809998,125.279999,NaN,NaN,1.000000,0.0
2021-06-01,124.279999,419.670013,2429.810059,118.510002,650.580017,247.399994,29.320000,56.380001,141.699997,259.269989,370.609985,3218.649902,144.190002,499.079987,124.610001,NaN,NaN,1.000000,0.0
2021-06-02,125.059998,420.329987,2421.280029,118.949997,671.130005,247.300003,29.610001,56.650002,140.979996,262.170013,372.720001,3233.989990,145.720001,499.239990,124.279999,NaN,NaN,1.000000,0.0
2021-06-03,123.540001,418.769989,2404.610107,116.820000,678.789978,245.710007,29.230000,56.980000,142.320007,257.790009,368.730011,3187.010010,145.550003,489.429993,125.059998,NaN,NaN,1.000000,0.0
2021-06-04,125.889999,422.600006,2451.760010,119.510002,703.130005,250.789993,29.270000,57.299999,144.509995,263.040009,375.700012,3206.219971,147.419998,494.739990,123.540001,NaN,NaN,1.000000,0.0
2021-06-07,125.900002,422.190002,2466.090088,118.220001,704.760010,253.809998,29.080000,57.200001,143.509995,260.600006,376.220001,3198.010010,148.020004,494.660004,125.889999,NaN,NaN,1.000000,0.0
2021-06-08,126.739998,422.279999,2482.850098,115.919998,698.280029,252.570007,28.980000,57.150002,145.389999,263.149994,376.880005,3264.110107,149.070007,492.390015,125.900002,NaN,NaN,1.000000,0.0
2021-06-09,127.129997,421.649994,2491.399902,117.129997,694.330017,253.589996,29.010000,57.049999,147.270004,263.600006,376.679993,3281.149902,150.669998,485.809998,126.739998,NaN,NaN,1.000000,0.0
2021-06-10,126.110001,423.609985,2521.600098,118.239998,697.000000,257.239990,29.180000,57.340000,146.509995,269.470001,380.070007,3349.649902,150.539993,487.269989,127.129997,NaN,NaN,1.000000,0.0
2021-06-11,127.349998,424.309998,2513.929932,118.250000,713.010010,257.890015,29.320000,57.330002,145.350006,271.450012,382.399994,3346.830078,151.279999,488.769989,126.110001,NaN,NaN,1.000000,0.0
2021-06-14,130.479996,425.260010,2527.040039,120.989998,720.750000,259.890015,29.090000,57.180000,145.259995,274.929993,386.619995,3383.870117,150.029999,499.890015,127.349998,NaN,NaN,1.000000,0.0
2021-06-15,129.639999,424.480011,2520.659912,119.449997,711.539978,258.359985,29.280001,57.290001,145.679993,271.890015,383.959991,3383.129883,149.360001,491.899994,130.479996,NaN,NaN,1.000000,0.0
2021-06-16,130.149994,422.109985,2513.929932,118.019997,712.409973,257.380005,29.059999,56.639999,144.910004,268.820007,382.350006,3415.250000,147.830002,492.410004,129.639999,NaN,NaN,1.000000,0.0
2021-06-17,131.789993,421.970001,2527.419922,119.120003,746.289978,260.899994,28.740000,56.529999,146.449997,278.109985,387.279999,3489.239990,145.600006,498.339996,130.149994,NaN,NaN,1.000000,0.0
2021-06-18,130.460007,414.920013,2511.350098,115.790001,745.549988,259.429993,28.650000,55.820000,144.699997,283.380005,384.179993,3486.899902,143.119995,500.769989,131.789993,NaN,NaN,1.000000,0.0
2021-06-21,132.300003,420.859985,2529.100098,114.139999,737.090027,262.630005,28.930000,56.389999,145.660004,283.100006,387.600006,3453.959961,146.649994,497.000000,130.460007,NaN,NaN,1.000000,0.0
2021-06-22,133.979996,423.109985,2539.989990,114.330002,755.469971,265.510010,28.780001,56.369999,145.820007,286.750000,391.320007,3505.439941,146.360001,508.820007,132.300003,NaN,NaN,1.000000,0.0
2021-06-23,133.699997,422.600006,2529.229980,116.050003,762.289978,265.269989,28.650000,56.070000,145.029999,288.119995,391.049988,3503.820068,144.610001,512.739990,133.979996,NaN,NaN,1.000000,0.0
2021-06-24,133.410004,425.100006,2545.639893,117.239998,768.219971,266.690002,28.790001,56.369999,145.600006,293.209991,393.140015,3449.080078,145.440002,518.059998,133.699997,NaN,NaN,1.000000,0.0
2021-06-25,133.110001,426.609985,2539.899902,116.529999,761.239990,265.019989,28.889999,56.380001,145.339996,289.600006,393.049988,3401.459961,146.839996,527.070007,133.410004,NaN,NaN,1.000000,0.0
2021-06-28,134.779999,427.470001,2536.389893,119.610001,799.400024,268.720001,28.780001,56.180000,145.039993,293.649994,397.239990,3443.889893,145.289993,533.030029,133.110001,NaN,NaN,1.000000,0.0
2021-06-29,136.330002,427.700012,2520.370117,120.230003,801.070007,271.399994,28.660000,55.840000,144.990005,292.760010,400.079987,3448.139893,145.550003,533.500000,134.779999,NaN,NaN,1.000000,0.0
2021-06-30,136.960007,428.059998,2506.320068,120.160004,800.099976,270.899994,28.780001,56.029999,144.830002,291.480011,398.769989,3440.159912,146.589996,528.210022,136.330002,NaN,NaN,1.000000,0.0
2021-07-01,137.270004,430.429993,2527.370117,118.419998,808.479980,271.600006,29.110001,56.290001,145.339996,289.000000,398.899994,3432.969971,146.839996,533.539978,136.960007,NaN,NaN,1.000000,0.0

In [12]:
import requests
ticker_name = stocks_list[0]
finnhub_string = "https://finnhub.io/api/v1/stock/social-sentiment?symbol={}&token=c3f5ojaad3i90rllu920".format(ticker_name)

r = requests.get(finnhub_string)
x = r.json()
x['reddit'][0]['atTime']

'2021-07-02 03:00:00'

In [13]:
x['reddit'][0]['score']

0.26170706666666665

In [14]:
finnhuib = pd.DataFrame()